.contenedor{
    width:100%;
    height:100vh;
    min-height: 500px;
    text-align:center;
    display:flex;
    align-items:center;
    justify-content:center;
    position:relative;
}

.contenedorIzq{
    display:grid;
}

.contenedorIzq span{
    margin-top: 20px;
}

.contenedorDer{
    display:grid;
}

.contenedorDer span{
    margin-top: 20px;
}